*.log
*.iml
*.ipr
*.iws
.idea
out
.cache/
.history/
.lib/
dist/*
target/
bin/
libexec/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
logs/
project/*-shim.sbt
project/project/
project/target/
.scala_dependencies
.worksheet

# bloop and metals
.bloop
.bsp
.metals

# scala 3
.tasty

# vs code
.vscode

# sbt
# (may want to keep parts of 'project')
project/
build/


# intellij idea

# mac
.DS_Store

# other?
.history
.cache
.cache-main

#general
*.class